<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/master.css">

    <style>
        .error {
            color: red;
        }
        
        .card {
            width: 99%;
            border: 1px solid white;
            border-radius: 15px;
            box-shadow: 3px 3px 3px 3px #888;
            display: inline-flex;
            margin: 4px 0.5%;
        }

        .card-col {
            float: left;
            margin: 0 3%;
        }

        .page-number {
            border: 1px solid gray;
            padding: 2px 4px;
            margin: 0 5px;
            background-color: lightcoral;
        }

        .page-number:hover {
            background-color: lightsalmon;
            cursor: pointer;
        }

        #page-bar {
            margin: 3px;
        }

        #page-info {
            margin: 3px;
        }

        #nav-search > center {
            color: black;
        }

    </style>
</head>

<body>
    <% include partials/navbar.ejs %>

    <br />
    <br />

    <form onsubmit="return search()">
        <!-- { building, hour, minute, days, room, timestamp, page } -->
        <label>Building: </label>
        <input id="building" type="text" />
        <label>Room: </label>
        <input id="room" type="text" />
        <br />
        <br />

        <label>Time: </label>
        <input id="hour" type="text" size="2" maxlength="2" placeholder="00" /> : <input id="minute" type="text" size="2"
            maxlength="2" placeholder="00" />
        <br />
        <br />

        <fieldset>
            <legend>Day</legend>
            <label>M</label>
            <input id="M" type="checkbox" />
            <label>Tu</label>
            <input id="Tu" type="checkbox" />
            <label>W</label>
            <input id="W" type="checkbox" />
            <label>Th</label>
            <input id="Th" type="checkbox" />
            <label>Fr</label>
            <input id="F" type="checkbox" />
        </fieldset>
        <br />

        <input type="submit" name="Submit" value="Submit" />
    </form>

    <hr />

    <div id="results"></div>

    <center id="page-nav-container">
        <div id="page-bar">test</div>
        <div id="page-info">1</div>
    </center>

    <script>
        // just use raw HTML and JS for temp frontend for now until we finish the backend

        var days = ['M', 'Tu', 'W', 'Th', 'F'];
        var searchURI = '<%= searchURI %>';
        var moreInfoUrl = '<%= moreInfoUrl %>'

        function search(query) {
            var queryData;
            if (query) {
                queryData = query;
            } else {
                queryData = {
                    building: $('#building').val() || undefined,
                    room: $('#room').val() || undefined,
                    hour: parseInt($('#hour').val()) || undefined,
                    minute: parseInt($('#minute').val()) || undefined,
                    days: []
                };

                days.forEach(function (day) {
                    if ($('#' + day).prop('checked')) {
                        queryData.days.push(day);
                    }
                });
            }
            console.log("QUERY: ", queryData);

            $.ajax({
                url: searchURI,
                type: 'POST',
                data: JSON.stringify(queryData),
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                    if (data && data.results && data.results.length > 0) {
                        $('#results').empty();

                        // if query already existed, page nav already exists
                        if (!query) {
                            createPageBar(queryData, data);
                        } else {
                            updatePageNumber(data);
                        }

                        data.results.forEach(function (datum) {
                            $('#results')
                                .append(makeResultCard(datum))
                                .append('<hr/>');
                        });
                    } else {
                        $('#results').html('No Results Found');
                        clearPageBar();
                    }
                },
                error: function (err) {
                    console.log(err.toString());
                    $('#results').html('<p class="error">An Error Occurred Making Your Request</p>');
                }
            });

            return false;
        }

        function createPageBar(query, data) {
            if (data.paginated) {
                $('#page-bar').empty();
                for (var pagenum = 1; pagenum <= data.totalPages; pagenum++) {
                    var newQuery = Object.assign({ page: pagenum - 1 }, query);
                    $('#page-bar').append('<span class="page-number" onclick="search(' + JSON.stringify(newQuery).replace(/"/g, '\'') + ')">' + pagenum + '</span>');
                }
                updatePageNumber(data);
            } else {
                $('#page-info').html('Page 1 of 1');
            }
        }

        function updatePageNumber(data) {
            $('#page-info').html('Page ' + (parseInt(data.page) + 1) + ' of ' + data.totalPages);
        }

        function clearPageBar() {
            $('#page-info').empty();
            $('#page-bar').empty();
        }

        function padTime(num) {
            var numStr = num.toString();
            if (numStr.length == 0) {
                return '00';
            }
            if (numStr.length == 1) {
                return '0' + numStr;
            }

            return numStr;
        }

        // i still can't think of a good layout for this... just make a div and show the data for now
        function makeResultCard(datum) {
            var card = $('<div class="card"></div>');
            var col1 = $('<div class="card-col"></div>');
            var col2 = $('<div class="card-col"></div>');
            var col3 = $('<div class="card-col"></div>');

            col1.append('<h3 class="course">' + datum.course + '</h3>');
            col1.append('<p class="section">Section: #<u>' + datum.section + '</u></p>');
            col2.append('<p class="room">Room: ' + datum.building + datum.room + '</p>');

            var dayList = '';
            days.forEach(function (day) {
                if (datum[day]) {
                    dayList += day;
                }
            });
            col2.append('<p class="daysLabel"> Days: ' + dayList + '</p>');

            var startTime = padTime(datum.startHour) + ':' + padTime(datum.startMinute);
            var endTime = padTime(datum.endHour) + ':' + padTime(datum.endMinute);
            col2.append('<p class="time"> Time: ' + startTime + ' - ' + endTime + '</p>');

            col3.append('<p><a target="_blank" href="' + generateMoreInfoURL(datum.course) + '">More Info</a></p>')

            card.append(col1);
            card.append(col2);
            card.append(col3);

            return card;
        }

        // temporarily hardcode semester for now - backend doesn't support multiple yet - sad
        function generateMoreInfoURL(courseId, semester = '201808') {
            return moreInfoUrl + '&courseId=' + courseId + '&termId=' + semester;
        }
    </script>
</body>

</html>