center {
    float: left;
    color: white;
    font-size: 130%;
    height: 100%;
    width: 100%;
    border-bottom: 4px solid #0000ff00;
    margin-top: 15%;
}

#navbar {
    margin: 0; 
    background-color: #d13232; 
    overflow: hidden;
    position: relative;
    height: 7%;
    width: 100%;
}

.nav-div {
    height: 98%; 
    display: inline-block; 
    padding: 0% 2%;
}

.nav-div:hover {
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.nav-div:hover center {
    color: black;
}

.nav-text {
    vertical-align: super;
}

.navimg {
    height: 50%;
}