<div id="navbar">
    <a href="/">
        <div id="nav-home" class="nav-div">
            <center><img class="navimg" src="/img/glyphicon-home.png" /><span class="nav-text"> HOME</span></center>
        </div>
    </a>
    <a href="/charts">
        <div id="nav-chart" class="nav-div">
            <center><img class="navimg" src="/img/glyphicon-stats.png" /><span class="nav-text"> CHARTS</span></center>
        </div>
    </a>
    <a href="/about">
        <div id="nav-about" class="nav-div">
            <center><img class="navimg" src="/img/glyphicon-note.png" /><span class="nav-text"> ABOUT</span></center>
        </div>
    </a>
    <a href="/help">
        <div id="nav-help" class="nav-div">
            <center ><img class="navimg" src="/img/glyphicon-question.png" /><span class="nav-text"> HELP</span></center>
        </div>
    </a>
</div>